.content {
  color: blue;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  background: #000;
}
.card {
  width: 29%;
  display: block;
  float: left;
  background: #fff;
  padding: 5px;
  margin: 5px;
}
.card h3 {
  text-align: center;
}
